parameters:
  level: 8
  paths:
    - app
  tmpDir: storage/phpstan
  errorFormat: table
  ignoreErrors:
    - '#Call to an undefined (method|static method|function)#'
    - '#Access to an undefined property#'